body {
    background: #0066b2;
}

#mainbody {
    margin-left: 40%;
    margin-top: 19px;
    margin-bottom: 3px;
    background: aliceblue;
    width: 240px;
    height: 335px;
    text-emphasis: 10;
    border: solid 2px;
    border-color: aliceblue;
    border-radius: 10px;
}

#screen1 {
    border-width: 0px;
    margin-left: 12px;
    margin-top: 15px;
    text-decoration: overline;
    margin-bottom: 0px;
    width: 90%;
    height: 30px;
    text-align: left;
    background-color: #89CFF0;
    border-radius: 2px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

#screen2 {
    border-width: 0px;
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 2px;
    width: 90%;
    height: 40px;
    text-align: right;
    background-color: #89CFF0;
    border-radius: 2px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

button {
    width: 37px;
    height: 35px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 1px;
    background: #4ca2e4;
    border-color: white;
    border-radius: 7px;
    font-size: 12.5px;
    font-family: sans-serif;
    font-weight: 100;
    padding-left: 4px;
}


#button1 {
    width: 37px;
    height: 35px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 1px;
    background: #89CFF0;
    border-color: white;
    border-radius: 7px;
    font-size: 12.5px;
    font-family: sans-serif;
    font-weight: 100;
    padding-left: 4px;
}

.but {
    width: 340px;
    height: 234px;
    margin-left: 2px;
}

#enterbtn {
    width: 76px;
    background-color: #0066b2;
    color: white;
    border-color: white;
    margin-left:8px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient()
}

#numerals {
    background-color: #89CFF0;
    border-color:white;
    font-style: bold;
    color: white;
    font-size: large;
}

#operators {
    background-color: #6CB4EE;
    border-color: white;
}

sub {
    font-size: xx-large;
    vertical-align: sub;
}